.home{
    padding: 0 10px;
    padding-bottom: 100px;

}
.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.hero h1{
    font-size: max(4vw,36px);
    font-weight: 700;
    text-align: center;
}
.hero p{
    line-height: 1.5;
    text-align: center;
    width: 75%;
    color:#e3e3e3;
}
.hero form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    width: 80%;
    background: white;
    border-radius: 5px;
    gap: 10px;
}
.hero form input{
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 16px;
    padding-left: 10px;
    flex: 1;
    width: 100%;
}
.hero form button{
    border: none;
    background: #7927ff;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.crypto-table{
    max-width: 800px;
    margin: 80px auto;
    background: linear-gradient(rgba(84,3,255,0.15), rgba(102,2,153,0.15));
    border-radius: 10px;
}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #3c3c3c;
}
.table-layout .green{
    color: #00d525;
    text-align: center;
}
.table-layout .red{
    color: #ff4646;
    text-align: center;
}
.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.table-layout div img{
    width: 20px;
}
.marketCap{
    text-align: right;
}
.table-layout:last-child{
    border: none;
}

@media (max-width:768px) {
    .table-layout{
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }
    .marketCap{
        display: none;
    }
}
@media (max-width:460px) {
    .table-layout{
        font-size: 13px;
    }
    
}